SyncWorldServiceTEST/SyncWorldServiceTEST/Service References/ServiceReferenceV1/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SyncWorldDAO" />
  <xs:element name="AddPerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SyncWorldDAO" minOccurs="0" name="p" nillable="true" type="q1:PersonSet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPersonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddPersonResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SyncWorldDAO" minOccurs="0" name="p" nillable="true" type="q2:PersonSet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePersonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdatePersonResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mail" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePersonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeletePersonResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SyncWorldDAO" minOccurs="0" name="e" nillable="true" type="q3:EventSet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEventResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddEventResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SyncWorldDAO" minOccurs="0" name="e" nillable="true" type="q4:EventSet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEventResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateEventResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SyncWorldDAO" minOccurs="0" name="e" nillable="true" type="q5:EventSet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEventResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteEventResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EventExistByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EventExistByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EventExistByNameResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EventExistByDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EventExistByDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EventExistByDateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEventBetweenDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="d1" type="xs:dateTime" />
        <xs:element minOccurs="0" name="d2" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEventBetweenDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SyncWorldDAO" minOccurs="0" name="GetEventBetweenDateResult" nillable="true" type="q6:ArrayOfEventSet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAllClosedEvent">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAllClosedEventResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteAllClosedEventResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAllEvent">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAllEventResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateAllEventResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPersonToEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SyncWorldDAO" minOccurs="0" name="p" nillable="true" type="q7:PersonSet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPersonToEventResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddPersonToEventResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllEventForPerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SyncWorldDAO" minOccurs="0" name="p" nillable="true" type="q8:PersonSet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllEventForPersonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SyncWorldDAO" minOccurs="0" name="GetAllEventForPersonResult" nillable="true" type="q9:ArrayOfEventSet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllContribForEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/SyncWorldDAO" minOccurs="0" name="e" nillable="true" type="q10:EventSet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllContribForEventResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/SyncWorldDAO" minOccurs="0" name="GetAllContribForEventResult" nillable="true" type="q11:ArrayOfContributionSet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllContribForPerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/SyncWorldDAO" minOccurs="0" name="p" nillable="true" type="q12:PersonSet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllContribForPersonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/SyncWorldDAO" minOccurs="0" name="GetAllContribForPersonResult" nillable="true" type="q13:ArrayOfContributionSet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAllContribForPerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/SyncWorldDAO" minOccurs="0" name="p" nillable="true" type="q14:PersonSet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAllContribForPersonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteAllContribForPersonResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddContrib">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/SyncWorldDAO" minOccurs="0" name="c" nillable="true" type="q15:ContributionSet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddContribResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddContribResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateContrib">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/SyncWorldDAO" minOccurs="0" name="c" nillable="true" type="q16:ContributionSet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateContribResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateContribResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteContrib">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/SyncWorldDAO" minOccurs="0" name="c" nillable="true" type="q17:ContributionSet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteContribResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteContribResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>